*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   height:100vh;
   background-image: url(https://images.pexels.com/photos/21787/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

fieldset{
   height: auto;
    border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 2%;
}
legend{
    text-align: center;
    font-size: 2rem;
    color: rgb(211, 7, 85);
}
#search{
width: 35%;
padding: 5px;
margin-left: 8px;
border-radius: 5px;
border: 1px solid gray;
outline: none;

}
th, td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}
th {
    background:linear-gradient(to left, rgb(3, 56, 3), rgb(153, 193, 153));
    color: white;
}
td{
    background:linear-gradient(to left, rgb(6, 135, 145),rgb(160, 226, 221));
    color: white; 
}

form{
    border: 1px solid rgb(137, 130, 130);
    box-shadow: 0px 2px 4px;
    border-radius: 10px;
    height:500px ;
    width: 350px;
    position: absolute;
    left: 63%;
    top: 7%;
    padding: 10px;
}

h3{
    text-align: center;
   color:rgb(17, 78, 191); 
}
label{
    color: white;
}

input[type="text"],
input[type="date"],
select{
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  width: 100%;
}
input[type="submit"]{
    padding: 8px;
    width: 100px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, rgb(9, 164, 9), rgb(157, 211, 157));
    border: none;
}

    