#box1{
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: bounce 2s infinite ease-in-out; 
    
}

#box1 div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}

#box2{
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
}

#box2 div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}

#box3{
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
}
#box3 div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}


#box4{
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

}

#box4 div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}


#box5 {
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    justify-items: center; 
    align-items: center;
    opacity: 0;
}

#box5 div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    margin-top: 30px;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}

#box5 div:nth-child(1) {
    grid-column: 1; 
    grid-row: 1;
}

#box5 div:nth-child(2) {
    grid-column: 3; 
    grid-row: 1;
}

#box5 div:nth-child(3) {
    grid-column: 1; 
    grid-row: 3;
}

#box5 div:nth-child(4) {
    grid-column: 3; 
    grid-row: 3;
}

#box5 div:nth-child(5) {
    grid-column: 2; 
    grid-row: 2;
}


#box6{
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 40px;
    background:linear-gradient(to top, #4DA1A9,#72BAA9, #79D7BE,#adebda);
    border: none;
    position: absolute;
    top: 15%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
}

#box6 div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 2px 4px 8px #3AA6B9;
    border: 1px;
    z-index: 999;
}

button{
    position: absolute;
    top: 72%;
    left: 46%;
    font-family:"Signika Negative", serif;
    font-weight:900;
    font-style: normal;
    padding: 15px 30px;
    color: white;
    background-color: #7c79cb;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1000;
    letter-spacing: 0.5px;
    box-shadow: 2px 4px 10px solid black;
}
button:hover{
    background-color:#FF9EAA;
}