#box1{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244 ;
    position: absolute;
    top: 30%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: bounce 2s infinite ease-in-out; 
   
}

#box1 div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 12px whitesmoke;
}

#box2{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244  ;
    position: absolute;
    top: 30%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
}

#box2 div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 12px whitesmoke; 
}

#box3{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244 ;
    position: absolute;
    top: 30%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
}
#box3 div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    box-shadow: 2px 4px 12px whitesmoke;
}


#box4{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244 ;
    position: absolute;
    top: 30%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

}

#box4 div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 2px 4px 12px whitesmoke;
}


#box5 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244 ;
    position: absolute;
    top: 30%;
    left: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px;
    justify-items: center; 
    align-items: center;
    opacity: 0;
}

#box5 div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    margin-top: 30px;
    box-shadow: 2px 4px 12px whitesmoke;
}

#box5 div:nth-child(1) {
    grid-column: 1; 
    grid-row: 1;
}

#box5 div:nth-child(2) {
    grid-column: 3; 
    grid-row: 1;
}

#box5 div:nth-child(3) {
    grid-column: 1; 
    grid-row: 3;
}

#box5 div:nth-child(4) {
    grid-column: 3; 
    grid-row: 3;
}

#box5 div:nth-child(5) {
    grid-column: 2; 
    grid-row: 2;
}


#box6{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#002244 ;
    position: absolute;
    top: 30%;
    left: 40%;
    display:flex ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
}

#box6 div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:white;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 2px 4px 12px whitesmoke;
}

button{
    position: absolute;
    top: 85%;
    left: 46%;
    padding: 15px 30px;
    color: white;
    background-color: rgb(53, 69, 27);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(13, 62, 13);
}